<button mat-icon-button 
class="favorite-icon"
(click)=voteDown(catId)>
    <mat-icon [ngClass]="votedDown ? 'active' : 'empty'" >thumb_down</mat-icon>
</button>
<button mat-icon-button 
class="favorite-icon"
(click)="voteUp(catId)">
    <mat-icon [ngClass]="votedUp ? 'active' : 'empty'"> thumb_up</mat-icon>
</button>
