
<button mat-icon-button
    (click)="togglFav(favId, catId)">
    <mat-icon class="favorite-icon" *ngIf="isFav">favorite</mat-icon>
    <mat-icon  class="favorite-icon" *ngIf="!isFav">favorite_border</mat-icon>
</button>