<div *ngIf="loading"
class="loading">
    <h1>Loading...</h1>
    <img class="loading-img" src="../../../assets/img/keanu-logo.png">
</div>
<div class="container">
    <div class="row"  *ngIf="(data | json) != ([] | json)">
        <h3>Do you want to upload more images?</h3>
        <button mat-raised-button color="accent"
        [routerLink]="'/upload'"
        class="button">
             <mat-icon>cloud_queue</mat-icon>
             <span class="button-text">Upload Pictures</span>
         </button>
    </div>
    <div class="cats"  *ngIf="(data | json) != ([] | json)">
        <div *ngFor="let cat of data" class="cat-div">
            <div   class="cat-bg" [ngStyle]="{'background-image':'url(' + cat.url + ')'}"></div>
            <div class="cat-rankings">
                <app-favourite
                    [catId]="cat.id"
                    [favCats]="favCats"
                    (favStatus)="toggleFav($event)">
                </app-favourite> 
                <app-scores
                    [catId]="cat.id"
                    [score]="votes">
                </app-scores>
                <app-voting
                    [catId]="cat.id"
                    (voteUpevent)="voteUp(cat.id)"
                    (voteDownevent)="voteDown(cat.id)">
                </app-voting>
            </div>
        </div>
    </div>
   
    <div class="no-cats" *ngIf="(data | json) === ([] | json)">
        <h1>Welcome to Keanu! </h1>
        <h3>You do not have any cats on your page. Please start adding our cats pictures by clikcing on the Start Uploading button below.</h3>
        <button mat-raised-button color="accent"
        [routerLink]="'/upload'"
        class="button">
             <mat-icon>cloud_queue</mat-icon>
             <span class="button-text">Create your Keanu book now!</span>
         </button>
    </div>
</div>


