.container {
  padding: 5rem;
}
.row {
  display: grid;
  justify-content: center;
}
.loading {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(255, 215, 64, 0.7);
  font-weight: 900;
  display: grid;
  align-content: center;
  justify-content: center;

  &-img {
    height: 100px;
  }
}
.button-text {
  margin-left: 10px;
}
.cats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5rem;

  .cat-div {
    flex-basis: 24%;
    margin: 0.5rem;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: #ffd740;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .cat-bg {
      min-height: 340px;
      min-width: 340px;
      background-size: cover;
    }
    .cat-rankings {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-content: center;
    }
  }
}
.no-cats {
  display: grid;
  justify-content: center;
  padding-top: 5rem;
  text-align: center;
}
