<div class="container">
    <div class="row">
        <div *ngIf="!previewUrl">
            <h3>Upload image</h3>
            <div class="preview-box"></div>
        </div>
        <div *ngIf="previewUrl">
            <h3> Your Image</h3>
            <div class="preview-image"
            [ngStyle]="{'background-image':'url(' + previewUrl + ')'}"> 
            </div> 
        </div>             
        <form [formGroup]="imageForm"
        class="form-group"
        (ngSubmit)="onSubmit()">
            <input  type="file" name="image" 
            (change)="preview($event)" 
            formControlName="image"/>
            <button  mat-raised-button color="accent"  
            [disabled]="!imageForm.valid">
                <mat-icon>check</mat-icon>Submit
            </button>
        </form>    
        <div class="error" *ngIf="showError">*Please check the file uploaded. You can only upload jpeg and png files.</div>
    </div>  
</div>