.cat-button {
  margin-top: 2rem;
}
mat-card-actions {
  background-color: #ffd740;
  border-radius: 5px;
}
.preview-box,
.preview-image {
  height: 300px;
  width: 100%;
  margin: 1rem 0;
}
.preview-box {
  border: 1px dashed lightgray;
}
.preview-image {
  background-size: cover;
}
.form-group {
  button {
    width: 100%;
    margin-top: 1rem;
  }
}
.btn {
  width: 100%;
  padding: 10px;
}
.error {
  color: red;
}
